/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    background: #11111d;
}

#sidebar {
    width: auto;
    background: #11111d;
    color: #fff;
    padding: 10px;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    transform: translateX(0);
    /* box-shadow: 0 1px 9px rgba(39, 51, 103, 1); */
    z-index: 1000;
    height: calc(100% - 40px);
}

#sidebar h2 {
    color: #c1c1c1;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#sidebar a {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    transition: background 0.3s;
    border-radius: 10px;
}

#sidebar a:hover {
    color: #fbf60b;
}

/* 子菜单 */
/*
.nav-item {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: #c1c1c1;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background 0.3s;
    cursor: pointer;
}

.nav-item:hover {
    color: #ffd700;
}
*/
/* 旋转图标样式 */
.rotate-icon {
/*    margin-left: auto;  */
    transition: transform 0.5s ease;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease; /* 子菜单展开速度 */
    padding-left: 20px;
}

.submenu-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    text-decoration: none;
    color: #979797 !important;
    background-image: none;
    position: relative;
}

#submenu .submenu-item:hover {
    color: #02ff3b !important;
}

.submenu-item::after {
    content: '';
    position: absolute;
    left: 20%;
    right: 20%;
    height: 17%; /* 设置你想要的高度 */
    bottom: 5px; /* 悬停效果从底部开始 */
    background-image: linear-gradient(#11111d, #02ff3b); /* 背景渐变 */
    opacity: 0;
    transition: opacity 0.3s; /* 渐变效果 */
}

.submenu-item:hover::after {
    opacity: 1;
}

.submenu-icon {
    margin-right: 10px;
}

/* 搜索栏 */
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* 使用更高优先级的选择器 */
div.search-container input.search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #515151 !important; /* 默认边框颜色 */
    border-radius: 10px;
    font-size: 16px;
    color: white; /* 修改输入文本的颜色 */
    background-color: #131321; /* 修改搜索框的背景颜色 */
    margin-top: 30px;
}

/* 占位符文本样式 */
div.search-container input.search-input::placeholder {
    color: #aaa; /* 修改占位符文本的颜色 */
}

/* 搜索框聚焦样式 */
div.search-container input.search-input:focus {
    border-color: #6671ff !important; /* 聚焦时的边框颜色 */
    outline: none; /* 去除默认的聚焦边框 */
}



#resultsContainer {
    margin-top: 20px;
}

/* 高亮显示 */
#resultsContainer .nav-item,
#resultsContainer .submenu-item {
    background: #2a2a4a;
    color: #ffd700;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 10px;
}

/* 高亮内边框样式 */
.highlight {
    outline: 3px solid yellow;
    transition: outline 2s ease-out; /* 2秒内渐隐内边框 */
}

.fade-out {
    outline: 3px solid transparent;
}



        .search-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .search-input {
            flex-grow: 1;
            padding: 10px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
        }

        #resultsContainer {
            margin-top: 20px;
        }

        #resultsContainer div {
            background: #2a2a4a;
            color: #ffd700;
            margin-bottom: 10px;
            padding: 10px 15px;
            border-radius: 10px;
            cursor: pointer;
        }

/* 主内容区 */
#main {
    margin-left: 290px;
    padding: 20px;
    flex-grow: 1;
    width: calc(100% - 290px);
}

/* 头部 */
#header {
    position: fixed;
    left: 300px;
    top: 0;
    right: 0;
    background: #11111d;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease;
    justify-content: center;
}

#header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent 5%, #273367 30%, #056da9 50%, #273367 70%, transparent 95%);
}

#header h1 {
    margin: 0;
    color: #00ceff;
}

#menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

/* 内容分区 */
section {
    margin-top: 130px;
/*     padding: 40px 20px;
    margin-bottom: 60px;  */
}



/* 响应式设计 */
@media (max-width: 1024px) {
    #sidebar {
        transform: translateX(-100%);
        padding-top: 60px;
        width: 80%;
    }

    #main {
        margin-left: 0;
        width: 100%;
    }

    #header {
        left: 0;
        width: 100%;
    }

    #menu-toggle {
        display: block;
        position: absolute;
        right: 51px;
        color: #00ceff;
    }

    #sidebar.active {
        transform: translateX(0);
    }

    .card-container {
        grid-template-columns: 1fr; /* 在小屏设备上每行显示一个卡片 */
    }
}

@media (max-width: 480px) {
    .custom-table th, .custom-table td {
        word-wrap: break-word;
        white-space: normal;
        padding: 5px; /* 调整为小屏设备的内边距 */
        text-align: center; /* 确保文字居中 */
    }
}

/* 滚动条样式 */
html {
    scrollbar-color: #6671ff #11111d;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

/* 侧边栏滚动条 */
#sidebar {
    scrollbar-color: #6671ff #11111d;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}

#sidebar::-webkit-scrollbar {
    display: none;
}













h3 {
    color: #00ceff;
}

.card1-header {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 10px;
    margin-bottom: 20px;
}

.card1-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.card1 {
    background: #11111d;
    border-radius: 15px;
    padding: 15px;
    color: #c1c1c1;
    width: calc(28% - 20px); 
    border: 2px solid #515151;
    transition: border 0.5s;
    margin: 20px; 
    text-decoration: none;
}

.card1:hover {
    border: 2px solid #6671ff;  
}

.card1 a {
    color: #c5c5c5;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.card1 a:hover {
    text-decoration: none; /* 使悬停时也不显示下划线 */
}

@media (max-width: 768px) {
    .card1-container {
        flex-direction: column;
        align-items: center;
    }

    .card1 {
        width: calc(100% - 40px);
        margin: 20px 0;
    }
}

.card1 h3 {
    color: #6671ff;
    text-align: center;
}

.details {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details span {
    font-size: 13px;
}


/* 回到顶部按钮样式 */
#backToTop {
    position: fixed;
    bottom: 60px; /* 位置调整，以避免与“回到底部”按钮重叠 */
    right: 10px;
    color: black;
    border: none;
    font-size: 30px; /* 增大字体大小以更清晰显示表情符号 */
    cursor: pointer;
    display: none; /* 默认隐藏 */
    z-index: 1000;
    background: none; /* 去除背景 */
    outline: none; /* 去除边框 */
}
/* 回到底部按钮样式 */
#backToBottom {
    position: fixed;
    bottom: 20px;
    right: 10px;
    color: black;
    border: none;
    font-size: 30px; /* 增大字体大小以更清晰显示表情符号 */
    cursor: pointer;
    display: none; /* 默认隐藏 */
    z-index: 1000;
    background: none; /* 去除背景 */
    outline: none; /* 去除边框 */
}














blockquote {
	border-left: 5px solid #4b50b7;
	padding-left: 30px;
	margin-left: 0;
	color: #c1c1c1;
	font-style: normal;
	font-size: 19px;
	text-align: left;
}

/* 删除线 */
.bold-strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 2px; /* 可以根据需要调整粗细 */
    color: #777; 
}